body {
background: linear-gradient(0deg, #00CDE9 0%, #000 59.90%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
  #container {
    position: relative;
    left: 120px;
    top: 40px;
    width: 1000px;
    height: 500px;
    border-radius: 50px;
    border: 1px solid #000;
    background: #001C20;
    box-shadow: 5px 5px 100px 10px #000;
    display: grid;
    grid-template-areas:
    
     "nav nav nav nav"
     "uwan uwan foto foto"
     "sosmed sosmed foto foto"
     
    }
    .nav {
      grid-area: nav;
      text-align: right;
      width: 1000px;
      height: 50px;
      flex-shrink: 0;
      background: linear-gradient(90deg, rgba(28, 20, 84, 0.00) 0%, #1900BF 100%);
      border-top-right-radius: 50px;
    }
    .nav .home {
      color: #ffffff;
      padding-top: 10px;
      text-align: right;
      font-family: Inter;
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;  
    }
    .nav a {
      color: #ffffff;
    }
    .text {
      color: #FFF;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .designer {
      color: #31DCF3;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .uwan {
      grid-area: uwan;
      padding-left: 70px;
      color: #31DCF3;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      
    }
    .foto {
      grid-area: foto;
      width: 278px;
      height: 573px;
    }
    .foto img {
      width: 400px;
    }
    .sosmed {
      grid-area: sosmed;
      padding-left: 70px;
      width: 400px;
      height: 140px;
      flex-shrink: 0;    
    }
    .sosmed img {
      margin-bottom: 30px;
      width: 200px;
    }
    .sosmed .contact-klik {
      width: 150px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 15px;
      border: 2px solid #1E13A0;
      background: #31DCF3;
      mix-blend-mode: screen;
      box-shadow: 0px 0px 20px 5px #1E13A0;
    }
    .sosmed .contact-text {
      color: #000;
      text-align: center;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }