* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}

div.static {
  position: static;
  width: 130px;
  background-color: aqua;
  border: 3px solid blue;
}

div.relative {
    position: relative;
    left: 30px;
    width: 130px;
    background-color: aqua;
    border: 3px solid blue;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 130px;
    background-color: aqua;
    border: 3px solid blue;
}

div.relative2 {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: aqua;
    border: 3px solid blue;
}
  
div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    background-color: aqua;
    border: 3px solid blue;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 130px;
    background-color: aqua;
    border: 3px solid blue;
  }
