@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');


body{
    background: url('../image/indo.png');
}


#card{
    background-color: #fff;
    height: auto;
    width: 350px;
    max-width: 100%;
    margin: 5;
    position: fixed;
    top: 25;
    left: 226;
    border-radius: 25px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
}
#card:hover{
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
}
.card-head{
    background: linear-gradient(to right, #8f0404,#f30003);
    text-align: center;
    width: 100%;
    background-color: #E6EBEE;
    border-radius: 25px 25px 0 0;
    color: #393B45;
    height: 130px;
    font-weight: 800;
    margin: 0;
}
h1 {
    text-align: center;
    width: 100%;
    color: red;
    font-weight: 800;
    font-family: 'Fredoka', sans-serif;

}

.image-crop {
    display: block;
    position: relative;
    background-color: #E6EBEE;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: -80px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
    border:3px solid #fff;
}
#avatar {
    display: inline;
    height: 230px;
    width: auto;
    margin-left: -34px;
}
#bio {
    margin: 30px 15px;
    height: auto;
    display: block;
}
#bio p {
    color: #222;
    font-weight: lighter;
    font-size: 14px;
    text-align: justify;
    
}
#stats {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 280px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-weight: 500;
}
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}
.stat {
    font-size: 25px;
    margin: 0;
}

.label {
    margin: 0;
}
#buttons {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 280px;
}
.button {
    position: relative;
    padding: 10px 0;
    width: 130px;
    margin: 30px 0;
    border-radius: 25px;
    border: none;
    letter-spacing: 0.2px;
    font-weight: 500;
    background-color:red;
    color: #E6EBEE;
    text-align: center;
    display:inline-block;
    font-family:'Open Sans',sans-serif;
    text-decoration:none;
    box-shadow:inset 0 0 0 #22313F;
    font-size:16px;
    text-transform:uppercase;
    transition:all 0.3s ease-out;
}
.button:focus {
    display: none;
}
.button:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow:inset 0 -50px 0 #22313F;
}
#msg{
    background-color: #E6EBEE;
    color: #393B45;
    border: 1px solid #393B45;
}
#msg:hover{
    color: #fff;
}

/*profile uan*/


#card-uwan{
    background-color: #fff;
    height: auto;
    width: 350px;
    max-width: 100%;
    margin: 15px auto;
    margin-bottom: 15;
    position: fixed;
    top: 15;
    right: 230 ;
    border-radius: 25px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
}
#card-uwan:hover{
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
}
.card-head-uwan{
    background: linear-gradient(to right, #8f0404,#f30003);
    text-align: center;
    width: 100%;
    background-color: #E6EBEE;
    border-radius: 25px 25px 0 0;
    color: #393B45;
    height: 130px;
    font-weight: 800;
    margin: 0;
}
h1 {
    text-align: center;
    width: 100%;
    color: red;
    font-weight: 800;
    font-family:'Fredoka', sans-serif;

}

.image-crop-uwan {
    display: block;
    position: relative;
    background-color: #E6EBEE;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: -80px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
    border:3px solid #fff;
}
#avatar {
    display: inline;
    height: 230px;
    width: auto;
    margin-left: -34px;
}
#bio-uwan {
    margin: 30px 15px;
    height: auto;
    display: block;
}
#bio-uwan p {
    color: #222;
    font-weight: lighter;
    font-size: 14px;
    text-align: justify;
}
#stats-uwan {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 280px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    font-weight: 500;
}
.col-uwan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}
.stat-uwan {
    font-size: 25px;
    margin: 0;
}

.label-uwan {
    margin: 0;
}
#buttons-uwan {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 280px;
}
.button-uwan {
    position: relative;
    padding: 10px 0;
    width: 130px;
    margin: 30px 0;
    border-radius: 25px;
    border: none;
    letter-spacing: 0.2px;
    font-weight: 500;
    background-color: red;
    color: #E6EBEE;
    text-align: center;
    display:inline-block;
    font-family:'Open Sans',sans-serif;
    text-decoration:none;
    box-shadow:inset 0 0 0 #22313F;
    font-size:16px;
    text-transform:uppercase;
    transition:all 0.3s ease-out;
}
.button-uwan:focus {
    display: none;
}
.button-uwan:hover {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow:inset 0 -50px 0 #22313F;
}
#msg-uwan{
    background-color: #E6EBEE;
    color: #393B45;
    border: 1px solid #393B45;
}
#msg-uwan:hover{
    color: #fff;
}




