$primary-color: aqua;
$secondary-color: pink;
$text-color: green;

body,
footer {
  $primary-color: lightblue;
  $secondary-color: red !global;
  background-color: $primary-color;
  h1 {
    color: $text-color;
  }

  p {
    color: $secondary-color;
  }
}
